table, mat-table{
    width: 100%;
}

.example-container {
    height: 400px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    position: relative;
  }
.mat-elevation-z8{
    overflow: auto;
}

