
<div class="form-sticky">
    <form name="form" #f="ngForm">
 
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
                            
          <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">

            <mat-form-field appearance="fill">
              <mat-label>Membership Rewards 3x</mat-label>
              <input matInput disabled value="{{membership3X | number:'1.2'}}">
            </mat-form-field> 
            <mat-form-field appearance="fill">
              <mat-label>Recompense Final</mat-label>
              <input matInput disabled value="{{ recompenseFinal | number:'1.2'}}">
            </mat-form-field>
        </mat-expansion-panel-header>

      <mat-list>
          <mat-form-field appearance="fill">
            <mat-label>Date initial</mat-label>
            <input matInput   
              name = "date"
              [matDatepicker]="picker"
              [(ngModel)]="userData.date"
              (dateChange)="dataPicker($event)"
  
              min="{{userData.date | date: 'yyyy/MM/dd'}}"
              required
              #date="ngModel"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
  
            <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
  
                  <div *ngIf="date.errors?.required">
                        campo Obligatorio
                  </div>
            </mat-error>
          </mat-form-field>
  
  
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Starting Membership</mat-label>
            <input matInput 
              class="example-right-align" 
              placeholder="0"
              name = "membership"
              (input)= "triggerEventKey($event)"
              [(ngModel)]="userData.membership" 
              value="{{userData.membership}}"
  
              #membership="ngModel"
              min="300"
              pattern="[0-9]+"
              required
            >
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            
          <mat-error class="message-block" *ngIf="membership.invalid && (membership.dirty || membership.touched)">
              <div class="error-message" *ngIf="membership.errors.required">
                    campo Obligatorio
              </div>
              <div class="error-message" *ngIf="membership.errors.min && !membership.errors.pattern">
                valor minimo 300
              </div>
              <div class="error-message" *ngIf="membership.errors.pattern || (membership.errors.min && membership.errors.pattern)">
                solo numeros
              </div>
          </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>¿Rebuy?</mat-label>
            <mat-select [value]="optionRebuy" name ="optionRebuy" [(ngModel)]="optionRebuy" >
              <mat-option (click)="rebuyAlways()" [value]='true'>{{ 'always' | titlecase }}</mat-option>
              <mat-option (click)="rebuyNever()" [value]='false'>{{ 'never'| titlecase}}</mat-option>
            </mat-select>
          </mat-form-field> 

        <mat-divider></mat-divider>
          <h5 style="padding: 7px 8px 0; margin: 0;">Filters:</h5>
          <mat-form-field appearance="fill">
            <mat-label> column "¿Rebuy?" </mat-label>
            <mat-select [value]="select" [disabled] ="f.form.invalid"  name ="select" [(ngModel)]="select">
              <mat-option value='all' >{{ '-- select --' | titlecase }}</mat-option>
              <mat-option [value]='true' >{{ 'yes' | titlecase }}</mat-option>
              <mat-option [value]='false'>{{ 'no'| titlecase}}</mat-option>
            </mat-select>
          </mat-form-field> 

      </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
      
    
</form>
</div>
<!-- example-container -->
<div class=" mat-elevation-z8 example-container">
  <table  mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;" [class.hide] = "!f.form.valid"></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" [class.hide]="dataSource.filteredData.length != 0"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make': row.dailyRewards >= 50}"></tr> -->
      

    
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef [class.hide]="select =='all' || ''">#</th>
              <td mat-cell [class.hide]="select =='all' || '' " *matCellDef="let i=index" >{{i+1}} </td>
            </ng-container>
            
  
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef> Day </th>
              <td mat-cell *matCellDef="let val"> {{val.days}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let days"> {{days.date | date : "dd/MM/yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> amount </th>
              <td mat-cell *matCellDef="let val"> {{val.amount | number:'1.2'}}</td>
            </ng-container>

            <ng-container matColumnDef="dailyInterest">
                <th mat-header-cell *matHeaderCellDef> daily Interest</th>
                <td mat-cell *matCellDef="let val"> {{val.dailyInterest | number : '1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="dailyRewards" >
              <th mat-header-cell *matHeaderCellDef> Daily Rewards </th>
              <td mat-cell *matCellDef="let val"> {{val.dailyRewards | number : '1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="rebuy">
              <th mat-header-cell *matHeaderCellDef> Rebuy</th>
              <td mat-cell *matCellDef="let val"   [ngClass]="{'marker': val.rebuy >= 50}"> {{ val.rebuy | number : '1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="optionRebuy">
              <th mat-header-cell *matHeaderCellDef>¿Rebuy?</th>
              <td mat-cell *matCellDef="let val"> 
                  <mat-checkbox [checked]="val.isCheck" (change)="check($event, val.days)" color="primary" [class.hide]="val.rebuy < 50">
                  </mat-checkbox>
              </td>

            </ng-container>

            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef> Membership Rewards Running Balance</th>
              <td mat-cell *matCellDef="let val"> {{ val.membershipBalance | number : '1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="disclaimer" >
              <td mat-footer-cell *matFooterCellDef colspan="12" >
                No data matching the filter
              </td>
            </ng-container>
          
</table>
</div>
<router-outlet></router-outlet>