

<div class="color-background" >
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Hyper Calculator | Colombia</span>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="body-content"> 
  <div class="flex">
      <div class="item-one">
        <div class="header-flex shadow-container">
 
          <div class="content-header">
            <h5 style="margin: 0;">Start Membership Rewards 3x</h5>
            <h5 *ngIf="f.form.valid">{{membership3X | number:'1.2'}}</h5>
            <h5 *ngIf="!f.form.valid">{{'0' | number:'1.2'}}</h5>
          </div>
        </div>
        
        <form name="form" #f="ngForm" class="shadow-container">
          <mat-form-field appearance="fill">
            <mat-label>Date initial</mat-label>
            <input matInput   
              name = "date"
              [matDatepicker]="picker"
              [(ngModel)]="userData.date"
              (dateChange)="dataPicker($event)"
              min="{{userData.date | date: 'yyyy/MM/dd'}}"
              required
              #date="ngModel"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi  #picker></mat-datepicker>
            <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
                  <div *ngIf="date.errors?.required">
                        required field
                  </div>
            </mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Starting Membership</mat-label>
            <input matInput 
              class="example-right-align" 
              placeholder="0"
              name = "membership"
              (input)= "triggerEventKey($event)"
              [(ngModel)]="userData.membership" 
              value="{{userData.membership}}"

              #membership="ngModel"
              min="50"
              pattern="[0-9]+"
              required
            >
            <span matPrefix>HU&nbsp;</span>
            <span matSuffix>.00</span>
            
          <mat-error class="message-block" *ngIf="membership.invalid && (membership.dirty || membership.touched)">
              <div class="error-message" *ngIf="membership.errors.required">
                  required field
              </div>
              <div class="error-message" *ngIf="membership.errors.min && !membership.errors.pattern">
                  minimum value 50
              </div>
              <div class="error-message" *ngIf="membership.errors.pattern || (membership.errors.min && membership.errors.pattern)">
                only numbers
              </div>
          </mat-error>
        </mat-form-field>

        <!-- <div style=" padding: 5px 0px 25px 2px;
          width: 100%;
          display: flex;
          justify-content: center;
        ">
          <button mat-raised-button  color="basic" style="width: 30%;">Calculate</button>
        </div> -->
        </form>
      </div>
      <div class="item-two">
        <div class="shadow-container">
              <div class="mat-elevation-z8 example-container">
              <table #table mat-table [dataSource]="dataSource">

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row  *matRowDef="let row; columns: displayedColumns;" [class.hide] = "!f.form.valid"></tr>
               
                        <ng-container matColumnDef="day">
                          <th mat-header-cell *matHeaderCellDef> Day </th>
                          <td mat-cell *matCellDef="let val"> {{val.days}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> Date </th>
                          <td mat-cell *matCellDef="let days"> {{days.date | date : "dd/MM/yyyy"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef> amount </th>
                          <td mat-cell *matCellDef="let val"> {{val.amount | number:'1.2'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dailyInterest">
                            <th mat-header-cell *matHeaderCellDef>Daily Rewards</th>
                            <td mat-cell *matCellDef="let val"> {{val.dailyInterest | number : '1.2'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dailyRewards" >
                          <th mat-header-cell *matHeaderCellDef> Daily Rewards Running Balance </th>
                          <td mat-cell *matCellDef="let val"> {{val.dailyRewards | number : '1.2'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="rebuy">
                          <th mat-header-cell *matHeaderCellDef> Rebuy</th>
                          <td mat-cell *matCellDef="let val"   [ngClass]="{'marker': val.rebuy >= 50}"> {{ val.rebuy | number : '1.2'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                          <th mat-header-cell *matHeaderCellDef> Membership Rewards Running Balance</th>
                          <td mat-cell *matCellDef="let val"> {{ val.membershipBalance | number : '1.2-2'}} </td>
                        </ng-container>

              </table>
              </div>

              <!-- <app-paginator 
              [eventCheck]="eventCheck" 
              [eventForm]="eventForm" 
              [length]="600" 
              [pageIndex]="0" 
              [pageSize]="25" 
              [pageSizeOptions]="[10, 25 ,50, 100]"
              (page)="paginationChange($event)" 
              [dataSource]="dataSource"
              ></app-paginator> -->

              <mat-paginator
                [length]="600"
                [pageIndex]="0" 
                [pageSize]="100" 
                [pageSizeOptions]="[10, 25 ,50, 100]"
                (page)="paginationChange($event)" 
                showFirstLastButtons
                >
              </mat-paginator>

            
        </div>
    </div>
  </div>
</div>

</div>



